Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')

In [3]:
def rating(row):
    if row['rating'] <= 2:
        return 'Низкий рейтинг'
    elif row['rating'] <= 4 and row['rating'] > 2:
        return 'Средний рейтинг'
    elif row['rating'] == 4.5 and row['rating'] == 5:
        return 'Высокий рейтинг'

In [4]:
data['rating_level'] = data.apply(rating, axis=1)
data.head()

   userId  movieId  rating   timestamp     rating_level
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [5]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [21]:
geo = pd.read_csv('keywords.csv')

In [25]:
def geo_region(row):
    for k, v in geo_data.items():
        for j in v:
            if j in row['keyword']:
                return k
    return 'undefined'

In [26]:
geo['geo_region'] = geo.apply(geo_region, axis=1)

In [30]:
geo[(geo['keyword'] == 'москва')].head()

     keyword   shows geo_region
1259  москва  153050      Центр

In [31]:
geo.head()

         keyword     shows geo_region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined